@{
}

<div class="">
    <h1 class="display-4">Профіль</h1>
    <ul>
        <li class="nav-item">
            @ViewBag.name;
        </li>
        <li class="nav-item">
            @ViewBag.email;
        </li>
        <li class="nav-item">
            @ViewBag.phone;
        </li>
    </ul>
</div>
